In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('vk_dataset_2ipru.csv', sep=';')
df

c:\users\yelzha\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (27) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,group_url,user_id,first_name,last_name,sex,bdate,interests,books,tv,quotes,...,political,smoking,religion,langs,inspired_by,text,comments,likes,reposts,views
0,kupit_iphone_v_moskve,1704,Lizik,Sergeeva,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,kupit_iphone_v_moskve,3402,Ivan,Shmelyov,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,kupit_iphone_v_moskve,8206,Viktor,Smirnov,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,kupit_iphone_v_moskve,8571,Evgenia,Brenner,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,kupit_iphone_v_moskve,12435,Leodin,Semenov,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,rumicomrussia,25699214,Roman,Romanenko,2,10.11,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19996,rumicomrussia,25701918,Zheka,Zavarzin,2,16.9.1994,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,–†—É—Å—Å–∫–∏–π,NaN,NaN,NaN,NaN,NaN,NaN
19997,rumicomrussia,25706565,Irina,Tikhonova,1,11.10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,–†—É—Å—Å–∫–∏–π,NaN,NaN,NaN,NaN,NaN,NaN
19998,rumicomrussia,25707210,Nadezhda,Berndt,1,27.12.1990,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19999,rumicomrussia,25707307,Alexander,Kaplin,2,12.11,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['group_url', 'user_id', 'first_name', 'last_name', 'sex', 'bdate',
       'interests', 'books', 'tv', 'quotes', 'about', 'games', 'movies',
       'music', 'status', 'followers_count', 'relation', 'city', 'country',
       'alcohol', 'life_main', 'people_main', 'political', 'smoking',
       'religion', 'langs', 'inspired_by', 'text', 'comments', 'likes',
       'reposts', 'views'],
      dtype='object')

In [5]:
df.groupby('group_url').count()[['user_id']]

                       user_id
group_url
kupit_iphone_v_moskve    10000
rumicomrussia            10000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 32 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   group_url        20000 non-null  object
 1   user_id          20000 non-null  int64
 2   first_name       20000 non-null  object
 3   last_name        18537 non-null  object
 4   sex              20000 non-null  int64
 5   bdate            13832 non-null  object
 6   interests        1278 non-null   object
 7   books            1115 non-null   object
 8   tv               885 non-null    object
 9   quotes           1210 non-null   object
 10  about            1086 non-null   object
 11  games            1001 non-null   object
 12  movies           1228 non-null   object
 13  music            1337 non-null   object
 14  status           7786 non-null   object
 15  followers_count  12951 non-null  float64
 16  relation         4566 non-null   float64
 17  city             14941 non-null  object
 18  country          16532 non-null  object
 19  alcohol          3007 non-null   float64
 20  life_main        2972 non-null   float64
 21  people_main      2986 non-null   float64
 22  political        1593 non-null   float64
 23  smoking          3013 non-null   float64
 24  religion         1228 non-null   object
 25  langs            3429 non-null   object
 26  inspired_by      718 non-null    object
 27  text             2034 non-null   object
 28  comments         2034 non-null   float64
 29  likes            2034 non-null   float64
 30  reposts          2034 non-null   float64
 31  views            2034 non-null   float64
dtypes: float64(11), int64(2), object(19)
memory usage: 4.9+ MB

In [7]:
df.loc[df['text'].dropna().index, :]

,group_url,user_id,first_name,last_name,sex,bdate,interests,books,tv,quotes,...,political,smoking,religion,langs,inspired_by,text,comments,likes,reposts,views
14,kupit_iphone_v_moskve,95276,Abastina,Abramova,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,,2.380000,123.660000,0.340000,3926.520000
20,kupit_iphone_v_moskve,110965,Konstantin,Karpov,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,–ö—Ä–∞—Å–Ω–∞—è –∑–æ–Ω–∞: —ç–∫—Å–∫–ª—é–∑–∏–≤ –∏–∑ —Ä–µ–∞–Ω–∏–º...,0.000000,0.580000,0.090000,51.190000
23,kupit_iphone_v_moskve,141937,Dmitry,Kozhemyako,2,NaN,"–∫–∞—Ä–ø–æ–≤–∞—è —Ä—ã–±–∞–ª–∫–∞, –ø–æ–¥–≤–æ–¥–Ω–∞—è –æ—Ö–æ—Ç–∞, –¥–∞–π–≤–∏–Ω–≥, —Å–µ...",—á—Ç–æ?,—á—Ç–æ?,–ß—Ç–æ–±—ã —Ç–µ–±—è –ª—é–±–∏–ª–∏ - –ø—Ä–∏—Ö–æ–¥–∏—Ç—Å—è –±—ã—Ç—å —Å–æ –≤—Å–µ–º–∏ —Ö...,...,NaN,NaN,NaN,–†—É—Å—Å–∫–∏–π,NaN,,0.000000,112.430769,8.892308,23392.846154
24,kupit_iphone_v_moskve,143011,Vladimir,Everlast,2,8.8.1988,NaN,NaN,NaN,NaN,...,NaN,NaN,–ü—Ä–∞–≤–æ—Å–ª–∞–≤–∏–µ,–†—É—Å—Å–∫–∏–π,NaN,–° –î–Ω—ë–º –†–æ–∂–¥–µ–Ω–∏—è!!! üéâüéâüéâüéàüéàüéàüéÅüéÅüéÅüçπüçπüçπ –° –î–Ω—ë–º –†–æ–∂–¥–µ–Ω...,0.116279,1.093023,0.034884,31.825581
33,kupit_iphone_v_moskve,284394,Yury,Butvin,2,6.6,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,,0.000000,206.566667,0.666667,2224.566667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4988,kupit_iphone_v_moskve,146281032,Svetlana,Lipatova,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,,0.000000,0.110000,0.020000,10.070000
4989,kupit_iphone_v_moskve,146283970,Viktoria,Svisch,1,NaN,"—Ç–∞–Ω—Ü—ã, —Å–ø–æ—Ä—Ç, –æ—Ç–¥—ã—Ö –Ω–∞ –ø—Ä–∏—Ä–æ–¥–µ, –æ–±—â–µ–Ω–∏–µ —Å –¥—Ä—É–∑...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,–£–∑–Ω–∞–π —Å–≤–æ–∏—Ö –ø–æ–∫–ª–æ–Ω–Ω–∏–∫–æ–≤! vk.com/app4236781_296...,0.000000,0.012500,0.000000,0.000000
4993,kupit_iphone_v_moskve,146328982,Maria,Korshunova,1,15.6.1991,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,–ú–æ–∏ —á—É–≤—Å—Ç–≤–∞ —É—è–∑–≤–∏–º—ã.. –ê —è –Ω–µ—Ç! - —è –±–æ–ª—å—à–µ!!\r\...,0.000000,3.610000,0.000000,57.470000
4994,kupit_iphone_v_moskve,146352454,Irina,Davidovskaya,1,15.10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"–î—Ä—É–∑—å—è, –∞–∫—Ç–∏–≤–Ω–æ –≥–æ–ª–æ—Å—É–µ–º –∑–∞ –Ø–≤–µ—Ä–∞ –ö–∞—Å—É–º–æ–≤–∞! ...",0.000000,3.870000,0.000000,91.750000
4995,kupit_iphone_v_moskve,146371848,Anna,Pavlova,1,28.3.1991,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"–†–µ–≤–Ω–æ—Å—Ç—å —è —Ç–≤–æ—é –Ω–µ –ø–æ–Ω–∏–º–∞—é, \r\n–ò –≤ –øo—Å–ª–µ–¥–Ω–∏–π ...",0.000000,3.570000,0.000000,119.120000

In [8]:
df.loc[df['text'].dropna().index, :].groupby('group_url').count()[['user_id']]

                       user_id
group_url
kupit_iphone_v_moskve     2034

In [9]:
df['text'].dropna()

14
20                   –ö—Ä–∞—Å–Ω–∞—è –∑–æ–Ω–∞: —ç–∫—Å–∫–ª—é–∑–∏–≤ –∏–∑ —Ä–µ–∞–Ω–∏–º...
23
24      –° –î–Ω—ë–º –†–æ–∂–¥–µ–Ω–∏—è!!! üéâüéâüéâüéàüéàüéàüéÅüéÅüéÅüçπüçπüçπ  –° –î–Ω—ë–º –†–æ–∂–¥–µ–Ω...
33
                              ...
4988
4989    –£–∑–Ω–∞–π —Å–≤–æ–∏—Ö –ø–æ–∫–ª–æ–Ω–Ω–∏–∫–æ–≤! vk.com/app4236781_296...
4993    –ú–æ–∏ —á—É–≤—Å—Ç–≤–∞ —É—è–∑–≤–∏–º—ã.. –ê —è –Ω–µ—Ç! - —è –±–æ–ª—å—à–µ!!\r\...
4994      –î—Ä—É–∑—å—è, –∞–∫—Ç–∏–≤–Ω–æ –≥–æ–ª–æ—Å—É–µ–º –∑–∞ –Ø–≤–µ—Ä–∞ –ö–∞—Å—É–º–æ–≤–∞! ...
4995    –†–µ–≤–Ω–æ—Å—Ç—å —è —Ç–≤–æ—é –Ω–µ –ø–æ–Ω–∏–º–∞—é, \r\n–ò –≤ –øo—Å–ª–µ–¥–Ω–∏–π ...
Name: text, Length: 2034, dtype: object