In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('vk_dataset.csv', sep=';')
df

,group_url,user_id,first_name,last_name,sex,bdate,interests,books,tv,quotes,...,political,smoking,religion,langs,inspired_by,text,comments,likes,reposts,views
0,samsung.galaxy_a,3744,Alexander,Ageyev,2,10.5,NaN,NaN,NaN,NaN,...,5.0,2.0,–í–µ—Ä—é,–†—É—Å—Å–∫–∏–π English,–ú—É–∑–∞,"""hear you screaming..."" ¬© UPD 8.05.2020 15:30 ...",0.0,0.18,0.0,61.01
1,samsung.galaxy_a,54512,Alexandra,Timoshenko,1,17.2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,samsung.galaxy_a,63171,Oksana,Komarova,1,4.4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,samsung.galaxy_a,120470,Alexandra,Saltykova,1,4.7.1990,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,samsung.galaxy_a,148878,Anna,Sergeeva,1,26.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,ru_oppo,119043212,Dmitry,Dmitriev,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4996,ru_oppo,119328330,Rita,Kromova,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4997,ru_oppo,119494669,DELETED,NaN,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4998,ru_oppo,119728965,Nina,Kichina,1,1.3.1991,NaN,NaN,NaN,NaN,...,5.0,4.0,–ü—Ä–∞–≤–æ—Å–ª–∞–≤–∏–µ,–†—É—Å—Å–∫–∏–π English T√ºrk√ße,NaN,NaN,NaN,NaN,NaN,NaN
4999,ru_oppo,120101837,Viktoria,Yakovleva,1,9.9,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.columns

Index(['group_url', 'user_id', 'first_name', 'last_name', 'sex', 'bdate',
       'interests', 'books', 'tv', 'quotes', 'about', 'games', 'movies',
       'music', 'status', 'followers_count', 'relation', 'city', 'country',
       'alcohol', 'life_main', 'people_main', 'political', 'smoking',
       'religion', 'langs', 'inspired_by', 'text', 'comments', 'likes',
       'reposts', 'views'],
      dtype='object')

In [4]:
df.groupby('group_url').count()[['user_id']]

                       user_id
group_url
huaweip20                 1000
kupit_iphone_v_moskve     1000
ru_oppo                   1000
rumicomrussia             1000
samsung.galaxy_a          1000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 32 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   group_url        5000 non-null   object
 1   user_id          5000 non-null   int64
 2   first_name       5000 non-null   object
 3   last_name        4798 non-null   object
 4   sex              5000 non-null   int64
 5   bdate            3414 non-null   object
 6   interests        326 non-null    object
 7   books            258 non-null    object
 8   tv               207 non-null    object
 9   quotes           308 non-null    object
 10  about            269 non-null    object
 11  games            241 non-null    object
 12  movies           291 non-null    object
 13  music            304 non-null    object
 14  status           1716 non-null   object
 15  followers_count  2952 non-null   float64
 16  relation         941 non-null    float64
 17  city             3746 non-null   object
 18  country          4098 non-null   object
 19  alcohol          564 non-null    float64
 20  life_main        557 non-null    float64
 21  people_main      562 non-null    float64
 22  political        419 non-null    float64
 23  smoking          564 non-null    float64
 24  religion         324 non-null    object
 25  langs            696 non-null    object
 26  inspired_by      128 non-null    object
 27  text             661 non-null    object
 28  comments         661 non-null    float64
 29  likes            661 non-null    float64
 30  reposts          661 non-null    float64
 31  views            661 non-null    float64
dtypes: float64(11), int64(2), object(19)
memory usage: 1.2+ MB

In [22]:
df.loc[df['text'].dropna().index, :]

,group_url,user_id,first_name,last_name,sex,bdate,interests,books,tv,quotes,...,political,smoking,religion,langs,inspired_by,text,comments,likes,reposts,views
0,samsung.galaxy_a,3744,Alexander,Ageyev,2,10.5,NaN,NaN,NaN,NaN,...,5.0,2.0,–í–µ—Ä—é,–†—É—Å—Å–∫–∏–π English,–ú—É–∑–∞,"""hear you screaming..."" ¬© UPD 8.05.2020 15:30 ...",0.000000,0.180000,0.000000,61.010000
5,samsung.galaxy_a,159133,Darya,Denisova,1,5.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"–ö–æ–Ω—Ñ–µ—Ç–∫–∏ –¥–ª—è —Ç–µ—Ö, –∫–æ–º—É –Ω–µ –±–µ–∑—Ä–∞–∑–ª–∏—á–Ω–æ –∑–¥–æ—Ä–æ–≤—å...",0.000000,0.050000,0.000000,9.030000
6,samsung.galaxy_a,176360,Denis,Kuleshov,2,20.8.1983,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,–ü—Ä–∏–∫–æ–ª.—Ä—É,0.000000,0.797753,0.011236,24.629213
10,samsung.galaxy_a,237262,Marya,Belyaeva,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,–ö–∞–∂–¥—ã–π —Ñ–µ–≤—Ä–∞–ª—å –¥–ª—è –º–µ–Ω—è –ø–µ—Ä–∏–æ–¥ –∫–∞—Ä–¥–∏–Ω...,0.000000,17.560000,2.310000,7410.480000
27,samsung.galaxy_a,574640,Stanislav,Sorokin,2,14.1.1987,NaN,NaN,NaN,NaN,...,NaN,1.0,–ü—Ä–∞–≤–æ—Å–ª–∞–≤–∏–µ,–†—É—Å—Å–∫–∏–π English,NaN,"–ú–æ–¥—É–ª—å–Ω–∞—è —Å–∏—Å—Ç–µ–º–∞ ThinkTank, –ø–æ–¥–≤–µ—Å/—Ä–∞–∑–≥—Ä—É–∑–∫...",0.654321,3.543210,0.172840,13.975309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2008,rumicomrussia,11599,Maria,Anisimova,1,21.7.1989,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"1–í, –¥–µ–Ω—å –ø–µ—Ä–≤–æ–∫–ª–∞—Å—Å–Ω–∏–∫–∞ üéàüéàüéà –í—á–µ—Ä–∞—à–Ω–∏–π –≤–µ—á–µ—Ä. –•...",0.000000,8.930000,0.000000,190.920000
2011,rumicomrussia,19177,Alexander,Trifonov,2,8.7.1989,"—Ñ—É—Ç–±–æ–ª, –º—É–∑—ã–∫–∞, —Ñ–∏–ª—å–º—ã, –∫–Ω–∏–≥–∏, —Ä–æ–ª—ë–≤–∫–∞","–ù–∏–∫ –ü–µ—Ä—É–º–æ–≤ - —Ü–∏–∫–ª –õ–µ—Ç–æ–ø–∏—Å–∏ –†–∞–∑–ª–æ–º–∞, –ì—ë—Ç–µ - –§–∞...","Stand Up, –ö –ë–∞—Ä—å–µ—Ä—É, –í–æ—Å–∫—Ä–µ—Å–Ω—ã–π –í–µ—á–µ—Ä","""–ú—É–∂–µ—Å—Ç–≤–æ –µ—Å—Ç—å –ª–∏—à—å —É —Ç–µ—Ö,\r\n–ö—Ç–æ –æ—â—É—Ç–∏–ª —Å–µ—Ä–¥—Ü...",...,NaN,0.0,–Ω—É –≤–æ–æ–±—â–µ –∫—Ä–µ—â–µ–Ω—ã–π...,–†—É—Å—Å–∫–∏–π,NaN,#MayThe4thBeWithYou 30 –ª–µ—Ç! –ï—Ö—Ö—Ö!!! üòâ –û—Ç–∫—Ä—ã...,0.329670,0.516484,0.000000,35.142857
2012,rumicomrussia,19425,Rustam,Nuritdinov,2,16.10.1987,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,–ú–æ–∏ –∏—Ç–æ–≥–∏ –≥–æ–¥–∞ ‚Äî –ª—É—á—à–µ–µ –∏–∑ –º–∏—Ä–∞ –∫–∏–Ω–æ.\r\n\r\n...,0.000000,0.561224,0.040816,66.153061
2013,rumicomrussia,22691,Anton,Tarasenko,2,1.2.1989,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"–Ø–Ω, —Å—ã–Ω –º–æ–π, —è –∂–µ–ª–∞—é —Ç–µ–±–µ –ø—Ä–æ–π—Ç–∏ —ç—Ç–∏–º–∏ –Ω–æ–≥–∞–º–∏ ...",0.280000,3.160000,0.170000,90.820000
2014,rumicomrussia,24849,Anton,Ryazanov,2,15.12,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"–•–æ—á—É –ø–æ–¥–µ–ª–∏—Ç—å—Å—è —Å –í–∞–º–∏ —ç—Ç–∏–º–∏ —Ä–∞–±–æ—Ç–∞–º–∏, –∫–æ—Ç–æ—Ä—ã–µ...",0.000000,3.810000,0.020000,156.610000

In [21]:
df.loc[df['text'].dropna().index, :].groupby('group_url').count()[['user_id']]

                       user_id
group_url
kupit_iphone_v_moskve      366
rumicomrussia                7
samsung.galaxy_a           288

In [23]:
df['text'].dropna()

0       "hear you screaming..." ¬© UPD 8.05.2020 15:30 ...
5        –ö–æ–Ω—Ñ–µ—Ç–∫–∏ –¥–ª—è —Ç–µ—Ö, –∫–æ–º—É –Ω–µ –±–µ–∑—Ä–∞–∑–ª–∏—á–Ω–æ –∑–¥–æ—Ä–æ–≤—å...
6                                    –ü—Ä–∏–∫–æ–ª.—Ä—É
10               –ö–∞–∂–¥—ã–π —Ñ–µ–≤—Ä–∞–ª—å –¥–ª—è –º–µ–Ω—è –ø–µ—Ä–∏–æ–¥ –∫–∞—Ä–¥–∏–Ω...
27        –ú–æ–¥—É–ª—å–Ω–∞—è —Å–∏—Å—Ç–µ–º–∞ ThinkTank, –ø–æ–¥–≤–µ—Å/—Ä–∞–∑–≥—Ä—É–∑–∫...
                              ...
2008    1–í, –¥–µ–Ω—å –ø–µ—Ä–≤–æ–∫–ª–∞—Å—Å–Ω–∏–∫–∞ üéàüéàüéà –í—á–µ—Ä–∞—à–Ω–∏–π –≤–µ—á–µ—Ä. –•...
2011    #MayThe4thBeWithYou   30 –ª–µ—Ç! –ï—Ö—Ö—Ö!!!  üòâ –û—Ç–∫—Ä—ã...
2012     –ú–æ–∏ –∏—Ç–æ–≥–∏ –≥–æ–¥–∞ ‚Äî –ª—É—á—à–µ–µ –∏–∑ –º–∏—Ä–∞ –∫–∏–Ω–æ.\r\n\r\n...
2013    –Ø–Ω, —Å—ã–Ω –º–æ–π, —è –∂–µ–ª–∞—é —Ç–µ–±–µ –ø—Ä–æ–π—Ç–∏ —ç—Ç–∏–º–∏ –Ω–æ–≥–∞–º–∏ ...
2014    –•–æ—á—É –ø–æ–¥–µ–ª–∏—Ç—å—Å—è —Å –í–∞–º–∏ —ç—Ç–∏–º–∏ —Ä–∞–±–æ—Ç–∞–º–∏, –∫–æ—Ç–æ—Ä—ã–µ...
Name: text, Length: 661, dtype: object